out/
.idea/
.settings/
.vscode
target/
.classpath
.project
*.config
*.config
tjbot.config
*.config
*.config
tjbot.config
target/classes/
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/original-tjbot.jar
target/tjbot-1.0-SNAPSHOT-shaded.jar
target/tjbot-1.0-SNAPSHOT.jar
target/tjbot.jar
